[include fluidd.cfg]
[include tuning/TEST_SPEED.cfg]
[include slicer_macros/orcaslicer.cfg]
[include macros.cfg]
#[include filament_sensor.cfg]
[include filament_macros.cfg]

[exclude_object]

# TODOs 
# camera
# beeper on PC5
# end print macro to retract, move to 0,0 , move z down some
# first layer https://ellis3dp.com/Print-Tuning-Guide/articles/first_layer_squish.html Z_OFFSET_APPLY_PROBE

[virtual_sdcard]
path: /home/rfwagner/printer_data/gcodes
on_error_gcode: CANCEL_PRINT
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_2C0043000950313154393520-if00

[display_status]
[pause_resume]

[printer]
kinematics: corexy
max_velocity: 800  
max_accel: 10000 
# minimum_cruise_ratio: 0.5
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0
# Enable arcs support
[gcode_arcs]
resolution: 0.1


[temperature_sensor MCU]
sensor_type: temperature_mcu
[temperature_sensor RPi]
sensor_type: temperature_host



[mcu rpi]
serial: /tmp/klipper_host_mcu

[adxl345]
cs_pin: rpi:None

[resonance_tester]
accel_chip: adxl345
probe_points:
    170, 170, 5  # an example



[input_shaper]
#shaper_freq_x: 53.4
#shaper_type_x: mzv
#shaper_freq_y: 48.0
#shaper_type_y: 3hump_ei



[autotune_tmc stepper_x]
motor: omc-17he19-2004s
#tuning_goal: silent  # default: auto=performance
##extra_hysteresis: 0  # up to 8, reduce hum/vib at low speeds
[stepper_x]
# StepperOnline 17HE19-2004S rated at 2.0A max
# https://www.omc-stepperonline.com/e-series-nema-17-bipolar-55ncm-77-88oz-in-2a-42x48mm-4-wires-w-1m-cable-connector-17he19-2004s
# max current 2.0A
step_pin: PE3
dir_pin: !PE2
enable_pin: !PE4
endstop_pin: !PA15
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200
position_min: 0
position_endstop: 377 
position_max: 377
homing_speed: 125 #50
homing_retract_dist: 10
[tmc2209 stepper_x]
uart_pin: PD5
run_current: 1.13 # 1.13  # max current 2.0A https://docs.zerog.one/universal/klippercalculator
interpolate: true



[autotune_tmc stepper_y]
motor: omc-17he19-2004s
#tuning_goal: silent  # default: auto=performance
##extra_hysteresis: 0  # up to 8, reduce hum/vib at low speeds
[stepper_y]
# StepperOnline 17HE19-2004S rated at 2.0A max
step_pin: PE0
dir_pin: !PB9
enable_pin: !PE1
endstop_pin: !PD2
rotation_distance: 40
microsteps: 16
full_steps_per_rotation: 200 
position_min: 0
position_endstop: 348 
position_max: 353
homing_speed: 125 #50
homing_retract_dist: 10
[tmc2209 stepper_y]
uart_pin: PD7
run_current: 1.13 # 1.13  # max current 2.0A https://docs.zerog.one/universal/klippercalculator
interpolate: true



[autotune_tmc stepper_z]
motor: creality-42-34
tuning_goal: auto  # default auto=silent
[stepper_z]  # https://github.com/Klipper3d/klipper/blob/master/config/printer-creality-ender5plus-2019.cfg
# Creality 42-34 rated at 1.5A max
# left hand side
step_pin: PB5
dir_pin: !PB4
enable_pin: !PB8
microsteps: 16
rotation_distance: 4
endstop_pin: probe:z_virtual_endstop
position_max: 410
position_min: -10.0
homing_speed: 10.0
[tmc2209 stepper_z]
uart_pin: PD4
run_current: 0.75 # 0.85  # max current 1.5A https://docs.zerog.one/universal/klippercalculator
interpolate: true



[autotune_tmc stepper_z1]
motor: creality-42-34
tuning_goal: auto  # default auto=silent
[stepper_z1]
# Creality 42-34 rated at 1.5A
# right hand side
step_pin: PD15
dir_pin: !PA1 
enable_pin: !PA3 
microsteps: 16
rotation_distance: 4
[tmc2209 stepper_z1]
uart_pin: PD8
run_current: 0.75 # 0.85  # max current 1.5A https://docs.zerog.one/universal/klippercalculator
interpolate: true

[safe_z_home]
home_xy_position: 175,175
z_hop: 5

[z_tilt]
z_positions:    -19,165
                395,165
points:         31,174
                377,174
speed: 300

[screws_tilt_adjust]
screw1: 66,43
screw1_name: front_left
screw2: 358,43
screw2_name: front_right
screw3: 358,304
screw3_name: rear_right
screw4: 66,304
screw4_name: rear_left
screw_thread: CW-M3
speed: 500



[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg
tuning_goal: performance  # default auto=silent
[extruder]
# orbiter extruder v2.0 LDO  https://trianglelab.net/u_file/2112/11/file/Orbiterv20FirmwareConfiguration-031c.pdf
# 690 steps/mm @ 16 micro-stepping
# motor current 1.2A peak or 0.85A RMS LDO-36STH20-1004AHG
# max accelleration 10000 mm/s2
# Triangle Lab Rapido HF
step_pin: PD6
dir_pin: !PD3
enable_pin: !PB3
microsteps: 16
full_steps_per_rotation: 200  # per TriangleLab doc
rotation_distance: 4.637  # per TriangleLab doc
nozzle_diameter: 0.600
filament_diameter: 1.750
max_extrude_only_distance: 500
max_extrude_only_velocity: 120
pressure_advance: 0.025
pressure_advance_smooth_time: 0.03
heater_pin: PE5
sensor_type: ATC Semitec 104NT-4-R025H42G
sensor_pin: PC1
#control: pid
#pid_Kp: 14.669
#pid_Ki: 0.572
#pid_Kd: 94.068
min_temp: 0
max_temp: 280
[tmc2209 extruder]
uart_pin: PD9
run_current: 0.85
hold_current: 0.100
sense_resistor: 0.11 
driver_TBL: 0
driver_HEND: 6
driver_HSTRT: 7
driver_TOFF: 4
interpolate: true



[heater_bed]
heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
#control: pid
#pid_Kp: 325.10
#pid_Ki: 63.35
#pid_Kd: 417.10
min_temp: 0
max_temp: 130



[fan]  # print cooling fan
# originally pin: PC14   # fan1 without hardware PWM
pin: PB0  # "he1" repurposed connection
# yel/blu wires to head
[heater_fan heatbreak_cooling_fan]  
pin: PB1 # fan2 with hardware PWM
# red/blk wires to head
[controller_fan controller_fan]
pin: PC14  # "fan1" repurposed connection
stepper: stepper_x, stepper_y, stepper_z, stepper_z1, extruder
# red/blk wires to case

# fan testing configurations
#[fan_generic he1_PB0_printfan]
#pin: PB0  # yel/blu wires to head
## SET_FAN_SPEED FAN=he1_PB0_printfan SPEED=100

#[fan_generic fan2_PB1_heatbreak]
#pin:PB1  # red/blk wires to head
## SET_FAN_SPEED FAN=fan2_PB1_heatbreak SPEED=100

#[fan_generic fan1_PC14_controller]
#pin: PC14 # red/blk wires to case
## SET_FAN_SPEED FAN=fan1_PC14_controller SPEED=100


# https://github.com/bigtreetech/MicroProbe
[gcode_macro PROBE_DOWN]
gcode:
    SET_PIN PIN=probe_enable VALUE=1
[gcode_macro PROBE_UP]
gcode:
    SET_PIN PIN=probe_enable VALUE=0
[output_pin probe_enable]
pin: PA8  # Set to the control pin on your board
value: 0
[probe]
pin: ^!PC8  # for v2 microprobe
deactivate_on_each_sample: False
x_offset: -24
y_offset: -9
#z_offset: 2.05
samples: 2
samples_tolerance: 0.05
samples_tolerance_retries: 3
activate_gcode:
    PROBE_DOWN
    G4 P500
deactivate_gcode:
    PROBE_UP


[bed_mesh]
# 44,9 yields 68,18 at first point
# refers to probe location offset is -24, -9
speed: 500
horizontal_move_z: 2
mesh_min: 20, 0
mesh_max: 352, 321
probe_count: 7, 7
mesh_pps: 2, 2
algorithm: bicubic


# From fluidd.cfg Client variable macro for your printer.cfg
[gcode_macro _CLIENT_VARIABLE]
variable_use_custom_pos   : False ; use custom park coordinates for x,y [True/False]
variable_custom_park_x    : 170.0   ; custom x position; value must be within your defined min and max of X
variable_custom_park_y    : 170.0   ; custom y position; value must be within your defined min and max of Y
variable_custom_park_dz   : 5.0   ; custom dz value; the value in mm to lift the nozzle when move to park position
variable_retract          : 1.0   ; the value to retract while PAUSE
variable_cancel_retract   : 5.0   ; the value to retract while CANCEL_PRINT
variable_speed_retract    : 35.0  ; retract speed in mm/s
variable_unretract        : 1.0   ; the value to unretract while RESUME
variable_speed_unretract  : 35.0  ; unretract speed in mm/s
variable_speed_hop        : 15.0  ; z move speed in mm/s
variable_speed_move       : 100.0 ; move speed in mm/s
variable_park_at_cancel   : True  ; allow to move the toolhead to park while execute CANCEL_PRINT [True/False]
variable_park_at_cancel_x : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
variable_park_at_cancel_y : None  ; different park position during CANCEL_PRINT [None/Position as Float]; park_at_cancel must be True
# !!! Caution [firmware_retraction] must be defined in the printer.cfg if you set use_fw_retract: True !!!
variable_use_fw_retract   : False ; use fw_retraction instead of the manual version [True/False]
variable_idle_timeout     : 0     ; time in sec until idle_timeout kicks in. Value 0 means that no value will be set or restored
variable_runout_sensor    : "SFS_T0"    ; If a sensor is defined, it will be used to cancel the execution of RESUME in case no filament is detected.
# Specify the config name of the runout sensor e.g "filament_switch_sensor runout". Hint use the same as in your printer.cfg
# !!! Custom macros, please use with care and review the section of the corresponding macro.
# These macros are for simple operations like setting a status LED. Please make sure your macro does not interfere with the basic macro functions.
# Only  single line commands are supported, please create a macro if you need more than one command.
variable_user_pause_macro : ""    ; Everything inside the "" will be executed after the klipper base pause (PAUSE_BASE) function
variable_user_resume_macro: ""    ; Everything inside the "" will be executed before the klipper base resume (RESUME_BASE) function
variable_user_cancel_macro: ""    ; Everything inside the "" will be executed before the klipper base cancel (CANCEL_PRINT_BASE) function
gcode:




########################################
# EXP1 / EXP2 (display) pins
########################################
[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC5,  EXP1_3=PD13, EXP1_5=PE14, EXP1_7=PD11, EXP1_9=<GND>,
    EXP1_2=PE13, EXP1_4=PC6,  EXP1_6=PE15, EXP1_8=PD10, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE8, EXP2_5=PE11, EXP2_7=PE12,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PE10, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"
# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.160
#*# pid_ki = 1.759
#*# pid_kd = 69.805
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.951
#*# pid_ki = 1.103
#*# pid_kd = 1141.419
#*#
#*# [probe]
#*# z_offset = 1.295
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.152500, 0.055000, -0.007500, -0.018750, -0.043750, -0.077500, -0.091250
#*# 	0.235000, 0.115000, 0.038750, 0.032500, -0.005000, -0.041250, -0.062500
#*# 	0.253750, 0.137500, 0.057500, 0.037500, -0.008750, -0.048750, -0.055000
#*# 	0.248750, 0.132500, 0.053750, 0.030000, -0.011250, -0.046250, -0.052500
#*# 	0.248750, 0.112500, 0.016250, -0.012500, -0.051250, -0.070000, -0.051250
#*# 	0.233750, 0.092500, -0.012500, -0.043750, -0.076250, -0.082500, -0.045000
#*# 	0.252500, 0.093750, -0.012500, -0.051250, -0.078750, -0.081250, -0.033750
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 20.0
#*# max_x = 351.98
#*# min_y = 0.0
#*# max_y = 321.0
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 53.0
#*# shaper_type_y = 3hump_ei
#*# shaper_freq_y = 48.2
